.profile__title-button {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

@media screen and (max-width: 570px) {
  .profile__title-button {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 28px;
  }
}