.profile__about {
  max-width:366px;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  padding: 0;
}

@media screen and (max-width: 570px) {
  .profile__about {
    max-width: 282px;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}