.element__group {
  max-width: 246px;
  margin: 21px 15px 26px 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 570px) {
  .element__group {
    margin-bottom: 25.3px;
  }
}